<html>
    <head>
        <meta charset="utf-8">
        <title>DEMO</title>
        <link rel="stylesheet" type="text/css" href="./bower_components/semantic/dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="./bower_components/prism/themes/prism-twilight.css">
        <script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="./bower_components/semantic/dist/semantic.min.js"></script>
        <script type="text/javascript"  src="./bower_components/prism/prism.js"></script>
        <script type="text/javascript" src="./bower_components/vue/dist/vue.min.js"></script>
        <script type="text/javascript" src="./node_modules/socket.io-client/dist/socket.io.min.js"></script>
        <script type="text/javascript" src="./bower_components/PubSubJS/src/pubsub.js"></script>
        <script type="text/javascript" src="./bower_components/clipboard/dist/clipboard.min.js"></script>
        <style type="text/css">
            label, span, button, div {
                font-family: "思源黑体", "Source Han Sans", "微软雅黑", "Microsoft YaHei" !important;
            }
            .text-button {
                padding: 0 5px;
            }
            .cursor-pointer {
                cursor: pointer;
            }
            .file-label {
                cursor: pointer;
                display: inline-block;
            }
            .label.file-label-tip {
                display: none;
            }
            .no-round-radius {
                border-radius: 0!important;
            }
            .no-border {
                border: none!important;
            }
            .no-shadow {
                box-shadow: none!important;
            }
            .position-fixed {
                position: fixed!important;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 999;
            }
            .hide {
                display: none!important;
            }
        </style>
    </head>
    <body>
        <div id="notification" style="display: none;" class="ui message yellow small no-round-radius no-border position-fixed no-shadow">
            <p>This is a special notification which you can dismiss if you're bored with it.</p>
        </div>
        <div class="ui grid container centered">
            <div class="row"></div>
            <!-- <div class="row">
                <div class="column">
                    <h2 class="ui dividing header">
                        <span>Render Server可视化工具</span>
                    </h2>
                </div>
            </div> -->  
            <div class="row"></div>
            <div class="row">
                <div class="column">
                    <div id="container">
                        <div class="ui top attached tabular menu">
                            <a class="item" data-tab="config">
                                <span>管理Render Server配置</span>
                            </a>
                            <a class="active item" data-tab="health"><span>自检</span> </a>
                            <a class="item" data-tab="manage"><span>管理模板</span></a>
                            <a class="item" data-tab="insert"><span>添加旧模板</span></a>
                            <a class="item" data-tab="first"><span>测试旧模板</span></a>
                            <a class="item" data-tab="second">Second</a>
                            <a class="item" data-tab="third"><span>分析Log</span></a>
                        </div>
                        <div class="ui bottom attached tab segment" data-tab="config">
                            <div class="ui form panel-config">
                                <div class="ui positive message icon" v-show="businessState.rs.isRunning">
                                    <i class="icon smile"></i>
                                    <div class="content">
                                        <div class="header">
                                            <span>Render Server运行中</span>
                                        </div>
                                        <p><span>检测到端口{{businessState.rs.port}}被占用</span></p>
                                    </div>
                                </div>
                                <div class="ui negative message icon" v-show="!businessState.rs.isRunning">
                                    <i class="icon frown"></i>
                                    <div class="content">
                                        <div class="header">
                                            <span>Render Server暂无运行</span>
                                        </div>
                                        <p><span>检测到端口{{businessState.rs.port}}未被占用</span></p>
                                    </div>
                                </div>
                                <div class="inline field">
                                    <label>Render Server目录</label>
                                    <div class="ui action input">
                                        <input type="text" v-model="businessState.rs.directoryName">
                                        <button v-bind:data-clipboard-text="businessState.rs.absoluteDirectoryPath" class="ui teal right labeled icon button basic copy-btn">
                                            <i class="copy icon"></i>
                                            <span>复制文件夹路径</span>
                                        </button>
                                    </div>
                                </div>  
                                <div class="inline field">
                                    <label>Production目录</label>
                                    <div class="ui toggle checkbox">
                                        <input type="checkbox" v-model="businessState.rs.isProduction">
                                        <label><br></label>
                                    </div>
                                </div>  
                                <div class="inline field">
                                    <label>端口号</label>
                                    <input type="text" v-model="businessState.rs.port">
                                    <div v-show="UIState.rs.port.message" class="ui left pointing label">
                                        <span>{{UIState.rs.port.message}}</span>
                                    </div>
                                </div>
                                <div class="inline field">
                                    <label>数据库名称</label>
                                    <input type="text" v-model="businessState.db.name">
                                    <div v-show="UIState.db.name.message" class="ui left pointing label">
                                        <span>{{UIState.db.name.message}}</span>
                                    </div>
                                </div>                           
                                <div class="inline field">
                                    <label>数据库账户名称</label>
                                    <input type="text" v-model="businessState.db.account">
                                    <div v-show="UIState.db.account.message" class="ui left pointing label">
                                        <span>{{UIState.db.account.message}}</span>
                                    </div>                                    
                                </div>
                                <div class="inline field">
                                    <label>数据库密码</label>
                                    <input type="text" v-model="businessState.db.password">
                                    <div v-show="UIState.db.password.message" class="ui left pointing label">
                                        <span>{{UIState.db.password.message}}</span>
                                    </div>                                    
                                </div>
                                <div class="inline field">
                                    <label>数据库端口号</label>
                                    <input type="text" v-model="businessState.db.port">
                                    <div v-show="UIState.db.port.message" class="ui left pointing label">
                                        <span>{{UIState.db.port.message}}</span>
                                    </div>                                    
                                </div>
                                <div class="field"><br></div>
                                <div class="inline field">
                                    <button v-disable="!UIState.validatePass || !diff" v-on:click="saveChangeHandler" class="ui button primary">
                                        <span>保存</span>
                                    </button>
                                    <button v-disable="!diff" v-on:click="rollbackHandler" class="ui button basic floated right">
                                        <span>撤销修改</span>
                                    </button>
                                    <!-- <button v-disable="!diff" v-on:click="rollback2DefaultHandler" class="ui button basic floated right">
                                        <span>还原为原始值</span>
                                    </button> -->
                                </div>                           
                            </div>
                        </div>
                        <div class="ui bottom attached tab segment active" data-tab="health">
                            <div class="ui form panel-health">
                                <div class="ui info message">
                                    <div class="header">
                                        <span>温馨提示</span>
                                    </div>
                                    <ul class="list">
                                        <li><span>点击文件名可复制文件路径</span></li>
                                        <li><span>点击问题名可查看问题详情</span></li>
                                    </ul>
                                </div>
                                <h4 class="ui dividing header"><span>开发目录</span></h4>
                                <a v-show="!errors.developmentErrors.length" class="ui label green">
                                    <span>一切正常</span>
                                    <i class="checkmark icon"></i>
                                </a>
                                <table v-show="errors.developmentErrors.length" class="ui basic celled table">
                                    <thead class="full-width">
                                        <tr>
                                            <th class="four wide"><span>当前问题</span></th>
                                            <th><span>文件名称A</span></th>
                                            <th><span>文件名称B</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in localize(errors.developmentErrors)">
                                            <td>
                                                <label v-if="item.errorCode === 1 || item.errorCode === 3" class="ui label black cursor-pointer">
                                                    <i class="warning icon"></i>
                                                    <span>模板代码出现不一致</span>
                                                </label>
                                                <label v-else-if="item.errorCode === 2 || item.errorCode === 4" class="ui label orange cursor-pointer">
                                                    <i class="warning icon"></i>
                                                    <span>模板名出现重复</span>
                                                </label>
                                                <label v-else-if="item.errorCode === 5 || item.errorCode === 7" class="ui label yellow cursor-pointer">
                                                    <i class="warning icon"></i>
                                                    <span>模板名出现不一致</span>
                                                </label>
                                                <label v-else-if="item.errorCode === 6 || item.errorCode === 8" class="ui label black cursor-pointer">
                                                    <i class="warning icon"></i>
                                                    <span>模板代码出现不一致</span>
                                                </label>                                                  
                                            </td>
                                            <td class="center aligned" v-bind:colspan="item.filePaths.length == 1 ? 2 : 1" v-for="(name, index) in item.fileNames">
                                                <div class="file-label">
                                                    <span v-bind:data-clipboard-text="item.filePaths[index]" class="copy-btn">
                                                        <i class="file outline icon"></i>
                                                        <span>{{name}}</span>    
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>                                      
                                    </tbody>
                                    <!-- <tfoot class="full-width">
                                        <tr>
                                            <th colspan="4">
                                            </th>
                                        </tr>
                                    </tfoot> -->
                                </table>
                                <h4 class="ui dividing header"><span>production目录</span></h4>
                                <a v-show="!errors.productionErrors.length" class="ui label green">
                                    <span>一切正常</span>
                                    <i class="checkmark icon"></i>
                                </a>
                                <table v-show="errors.productionErrors.length" class="ui basic celled table">
                                    <thead class="full-width">
                                        <tr>
                                            <th class="four wide"><span>当前问题</span></th>
                                            <th><span>文件名称A</span></th>
                                            <th><span>文件名称B</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="item in localize(errors.productionErrors)">
                                            <td>
                                                <label v-if="item.errorCode === 1 || item.errorCode === 3" class="ui label black cursor-pointer">
                                                    <i class="warning icon"></i>
                                                    <span>模板代码出现不一致</span>
                                                </label>
                                                <label v-else-if="item.errorCode === 2 || item.errorCode === 4" class="ui label orange cursor-pointer">
                                                    <i class="warning icon"></i>
                                                    <span>模板名出现重复</span>
                                                </label>
                                                <label v-else-if="item.errorCode === 5 || item.errorCode === 7" class="ui label yellow cursor-pointer">
                                                    <i class="warning icon"></i>
                                                    <span>模板名出现不一致</span>
                                                </label>
                                                <label v-else-if="item.errorCode === 6 || item.errorCode === 8" class="ui label black cursor-pointer">
                                                    <i class="warning icon"></i>
                                                    <span>模板代码出现不一致</span>
                                                </label>                                                  
                                            </td>
                                            <td class="center aligned" v-bind:colspan="item.filePaths.length == 1 ? 2 : 1" v-for="(name, index) in item.fileNames">
                                                <div class="file-label">
                                                    <span v-bind:data-clipboard-text="item.filePaths[index]" class="copy-btn">
                                                        <i class="file outline icon"></i>
                                                        <span>{{name}}</span>    
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>                                      
                                    </tbody>
                                    <!-- <tfoot class="full-width">
                                        <tr>
                                            <th colspan="4">
                                            </th>
                                        </tr>
                                    </tfoot> -->
                                </table>                            
                            </div>
                        </div>
                        <div class="ui bottom attached tab segment" data-tab="manage">
                            <div class="ui form panel-manage">
                                <div class="inline fields">
                                    <div class="field">
                                        <label>搜索模板名</label>
                                        <input type="text" name="">
                                    </div>
                                    <div class="field">
                                        <label>筛选问题模板</label>
                                        <select class="ui dropdown">
                                            <option ><span>无</span></option>
                                            <option ><span>未同步至Production</span></option>
                                            <option ><span>缺少测试数据</span></option>
                                            <option ><span>内容有差异</span></option>
                                        </select>
                                    </div>
                                    
                                </div>
                                <div class="inline fields">
                                </div>
                                <table class="ui compact celled striped table">
                                    <thead class="full-width">
                                        <tr>
                                            <th><span>模板名称</span></th>
                                            <th><span>状态</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <i class="folder icon"></i> node_modules
                                            </td>
                                            <td class="collapsing">
                                                <label class="ui label basic">
                                                    <i class="checkmark icon"></i>
                                                    <span>正常</span>
                                                </label>
                                                <label class="ui label red">
                                                    <i class="refresh icon"></i>
                                                    <span>未同步</span>
                                                </label>
                                                <label class="ui label orange">
                                                    <i class="warning icon"></i>
                                                    <span>缺少测试数据</span>
                                                </label>
                                                <label class="ui label gray">
                                                    <i class="help icon"></i>
                                                    <span>内容有差异</span>
                                                </label>                                            
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="folder icon"></i> node_modules
                                            </td>
                                            <td>
                                            </td>
                                        </tr>                
                                    </tbody>
                                    <tfoot class="full-width">
                                        <tr>
                                            <th colspan="2">
                                                <button class="ui button basic">添加模板</button>
                                                <div class="ui right floated pagination menu">
                                                    <a class="icon item">
                                                        <i class="left chevron icon"></i>
                                                    </a>
                                                    <a class="item">1</a>
                                                    <a class="item">2</a>
                                                    <a class="item">3</a>
                                                    <a class="item">4</a>
                                                    <a class="icon item">
                                                        <i class="right chevron icon"></i>
                                                    </a>
                                                </div>
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table> 
                            </div>
                        </div>                        
                        <div class="ui bottom attached tab segment" data-tab="insert">
                            <div class="ui form">
                                <div class="fields">
                                    <div class="twelve wide field">
                                        <label>Name</label>
                                        <div class="fields">
                                            <div class="six wide field">
                                                <div class="ui radio checkbox">
                                                <input type="radio" name="frequency" checked="checked">
                                                <label>旧模板( src/rs/template 目录)</label>
                                                </div>
                                            </div>
                                            <div class="six wide field">
                                                <div class="ui radio checkbox">
                                                <input type="radio" name="frequency">
                                                <label>新模板( cache/template 目录)</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="fields">
                                    <div class="four wide field">
                                        <label>模板名称</label>
                                        <input type="text" name="">
                                        <div class="ui top pointing label">
                                            <span>文件名已存在</span>
                                        </div>
                                    </div>
                                    <div class="four wide field">
                                        <label>styleType</label>
                                        <input type="text" name="">
                                        <div class="ui top pointing label">
                                            <span>styleType已存在</span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label><br></label>
                                        <button class="ui button basic"><span>查看现有styleType</span></button>
                                    </div>                                
                                </div>
                                <div class="ui info message">
                                    <div class="header">
                                        <span>注意</span>
                                    </div>
                                    <ul class="list">
                                        <li>styleType信息同时添加进了两个rs.proto文件中</li>
                                        <li>模板文件夹中自动生成了request文件夹</li>
                                    </ul>
                                </div>
                                <button class="ui button primary">
                                    确定
                                </button>
                            </div>
                        </div>
                        <div class="ui bottom attached tab segment" data-tab="first">
                            <div class="ui form">
                                <div class="inline fields">
                                    <div class="field">
                                        <br>
                                        <div class="ui toggle checkbox">
                                            <input type="checkbox" name="public1">
                                            <label>测试Production目录下的模板</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <br>
                                        <div class="ui toggle checkbox">
                                            <input type="checkbox" name="public2">
                                            <label>所有模板</label>
                                        </div>                               
                                    </div>
                                </div>
                                <div class="fields">
                                    <div class="six wide field">
                                        <label><span>选择模板</span></label>
                                        <select class="ui search dropdown">
                                            <option>China</option>
                                            <option>USA</option>
                                            <option>England</option>
                                        </select>
                                    </div>
                                </div>
                                <p><span>模板所属测试数据</span></p>
                                <label>暂无测试数据</label>
                                <button class="ui button basic small">
                                    <span>自动生成测试数据</span>
                                </button>
                                <table class="ui compact celled definition table">
                                    <thead class="full-width">
                                        <tr>
                                            <th></th>
                                            <th><span>文件名称</span></th>
                                            <th><span>操作</span></th>
                                            <th><span>测试结果</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="collapsing">
                                                <div class="ui toggle checkbox">
                                                    <input type="checkbox"> <label></label>
                                                </div>
                                            </td>
                                            <td>
                                                <span>auto.js</span>
                                            </td>
                                            <td>
                                                <div class="ui icon button basic tiny">
                                                    <i class="icon unhide"></i>
                                                    <span>预览</span>
                                                </div>
                                                <div class="ui icon button basic tiny">
                                                    <i class="icon copy"></i>
                                                    <span>复制文件地址</span>
                                                </div>
                                            </td>
                                            <td>
                                                <a class="ui green label">
                                                    <span>成功生成html文件（点击复制地址）</span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="collapsing">
                                                <div class="ui toggle checkbox">
                                                    <input type="checkbox"> <label></label>
                                                </div>
                                            </td>
                                            <td>auto.js</td>
                                            <td>
                                                <div class="ui icon button basic tiny">
                                                    <i class="icon unhide"></i>
                                                    <span>预览</span>
                                                </div>
                                                <div class="ui icon button basic tiny">
                                                    <i class="icon copy"></i>
                                                    <span>复制文件地址</span>
                                                </div>
                                            </td>
                                            <td>
                                                <a class="ui red label">
                                                    <span>生成html失败</span>
                                                </a>
                                            </td>
                                        </tr>                                    
                                    </tbody>
                                    <tfoot class="full-width">
                                        <tr>
                                            <th></th>
                                            <th colspan="3">
                                                <div class="ui right floated small primary button">
                                                    <span>进行测试</span>
                                                </div>
                                                <div class="ui small button">
                                                    <span>添加测试脚本</span>
                                                </div>
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>                                
                            </div>
                        </div>
                        <div class="ui bottom attached tab segment" data-tab="second">
                            Second
                        </div>
                        <div class="ui bottom attached tab segment" data-tab="third">
                            Third
                        </div>
                    </div>
                </div>
            </div>    
        </div>
        <script type="text/javascript" src="./scripts/global.js"></script>
        <script type="text/javascript" src="./scripts/notify-setup.js"></script>
        <script type="text/javascript" src="./scripts/socketio-setup.js"></script>
        <script type="text/javascript" src="./scripts/clipboard-setup.js"></script>
        <script type="text/javascript" src="./scripts/services/diff-object.js"></script>
        <script type="text/javascript" src="./scripts/services/remote.js"></script>
        <script type="text/javascript" src="./scripts/services/command-manager.js"></script>
        <script type="text/javascript" src="./scripts/vue-directive/disable.js"></script>
        <script type="text/javascript" src="./scripts/app-config.js"></script>
        <script type="text/javascript" src="./scripts/app-health.js"></script>
        <script type="text/javascript" src="./scripts/ui-setup.js"></script>
   </body>
</html>