<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../bower_components/vue/dist/vue.min.js"></script>
</head>
<body>
	<div id="container">
		<input v-model="key1" type="" name="">
		<input v-model="key2" type="" name="">
		<input v-model="key3" type="" name="">
		<button v-on:click="save">Save</button>
	</div>
</body>
<script type="text/javascript">
	
	var app = new Vue({
		el: '#container',
		data: {
			key1: 'value1',
			key2: 'value2',
			key3: 'value3'
		},
		methods: {
			save: function () {
				var temp = this;
				debugger
			}
		}
	});
</script>
</html>